<div class="card mb-3">
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {% if card_header %}
      <div class="card-header bg-secondary text-white font-weight-bold">{{ card_header }}</div>
    {% endif %}
    {% if card_body or content_items %}
      <div class="card-body">
        {{ card_body }}
        {% if content_items %}
          {% for item in content_items %}
            <p class="card-text">
              {% if item.label %}
                <strong>{{ item.label }}:</strong>
              {% endif %}
              {{ item.value }}
            </p>
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}
    {% if content_list %}
      <ul class="list-group list-group-flush">
        {% for item in content_list %}
          <li class="list-group-item">{{ item }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if card_footer %}
      <div class="card-footer">{{ card_footer }}</div>
    {% endif %}
  {% endblock %}
</div>
